<div ng-controller="ctrlNavigation" class="navigation-bar top-navigation-bar">
	<div class="navigation-container">
		<div ng-if="currentUser" class="icon-bar mobile">
			<div class="icon clickable" at-clicktoggle="#app-menu" at-hide-on="click,popup">
				<i class="icon apps white"></i>
			</div>
		</div>
		<div class="logo">
			<a ng-click="clickLogo()"></a>
		</div>
		<h1 class="desktop">
			<i ng-show="$navigation.get().pagetitle" class="divider"></i>
			{{ $navigation.get().pagetitle }}
		</h1>
		<h1 ng-if="currentUser" at-clicktoggle="#tab-menu" at-hide-on="scroll,click,popup" at-target-position="center" class="clickable mobile">
			{{ $navigation.get().pagetitle }}<i class="icon dropdown white crop-circle"></i>
		</h1>
		<div ng-if="currentUser" id="search-bar" class="search-bar">
			<div class="back-button clickable" id="search-back-button"><i class="icon arrow-left"></i>Back</div>
			<div class="search-type "><i class="icon search white clickable"></i><span at-clicktoggle="#search-menu" at-hide-on="scroll,click,popup" at-target-position="center" class="clickable">{{ search.category }}<i class="icon dropdown"></i></span></div>
			<div class="search-field"><input at-dropdown="search.getMatches" name="search-field" ng-model="search.keyword" at-autocomplete="true" at-show-limit="20" at-class="nav-dropdown" at-onchange="search.clickAction" at-hide-caret="true" at-selectall="true" placeholder="Enter keyword here" /></div>
		</div>
		<div ng-if="currentUser" class="icon-bar" class="animate-fade">
			<div class="icon clickable" searchbar="#search-bar"><i class="icon search white clickable hoverable"></i></div>
			<div class="icon clickable desktop" at-clicktoggle="#app-menu" at-hide-on="scroll,click,popup" at-target-position="center"><i class="icon dot-grid white hoverable"></i></div>
			<div class="icon clickable desktop" at-clicktoggle="#notification-menu" at-hide-on="click,popup" at-target-position="right" at-onhide="markNotificationsRead()"><i class="icon bell white hoverable"><span class="badge" ng-class="{'large': getUnreadNotifications() > 99}" ng-show="getUnreadNotifications() > 0">{{ getUnreadNotifications() > 99 ? "99+" : getUnreadNotifications() }}</span></i></div>
			<div class="icon clickable desktop" at-clicktoggle="#user-menu" at-hide-on="scroll,click,popup" at-target-position="right"><div class="user"><i class="icon circle"></i><span>{{ currentUser.person.personDetails | personinitials }}</span></div></div>
		</div>
	</div>
	<div id="search-menu" class="app-popup border-top-arrow text-list">
		<ul>
			<!-- <li class="clickable" ng-click="changeSearch(1)">Account task</li> -->
			<li class="clickable" ng-click="changeSearch(2)">Worker</li>
		</ul>
	</div>
	<div id="app-menu" class="app-popup border-top-arrow">
		<div class="icon-area mobile">
			<div class="icon clickable" at-tabgroup="mobile-app-menu-icons" at-tabselected="selectMenu(1)" at-stop-prop="true" at-tabdefault="true"><i class="icon white dot-grid hoverable"></i></div>
			<div class="icon clickable" at-tabgroup="mobile-app-menu-icons" at-tabselected="selectMenu(2);markNotificationsRead()" at-stop-prop="true"><i class="icon white bell hoverable"><span class="badge" ng-class="{'large': getUnreadNotifications() > 99}" ng-show="getUnreadNotifications() > 0">{{ getUnreadNotifications() > 99 ? "99+" : getUnreadNotifications() }}</span></i></div>
			<div class="icon clickable" at-tabgroup="mobile-app-menu-icons" at-tabselected="selectMenu(3)" at-stop-prop="true"><div class="user"><i class="icon circle"></i><span>{{ currentUser.person.personDetails | personinitials }}</span></div></div>
		</div>
		<div class="border-pointer" ng-class="classMenu()"></div>
		<div ng-show="showMenu == 1">
			<div class="app-icon-container">
				<div ng-repeat="app in getApps() | filter:{ disabled: false } | orderBy:['level', 'title']" class="app-icon"><a ng-click="switchApp(app.app)" ng-href="#/{{ app.app }}"><i class="icon" ng-class="app.icon"></i><span>{{ app.title }}</span></a></div>
			</div>
		</div>
		<div ng-show="showMenu == 2" class="text-list">
			<ul>
				<li ng-if="!notificationsOverflow"><h5>{{ notifications.length }} Notification{{ notifications.length | pluralise }}</h5></li>
				<li ng-if="notificationsOverflow"><h5 ng-if="notificationsOverflow">Last {{ notifications.length }} notifications</h5></li>
				<li class="seperator"></li>
			</ul>
		</div>
		<div ng-show="showMenu == 3" class="text-list">
			<ul>
				<li>{{ currentUser.person.personDetails | personfullname }}<!-- <span class="email">stanley.kubrick@gmail.com</span> --></li>
				<li class="seperator"></li>
				<li><a href="#/accountsettings">Account settings</a></li>
				<li class="seperator"></li>
				<li ng-click="clickSignout()" class="clickable">Sign out</li>
			</ul>
		</div>
		<div class="logo-area mobile">
		</div>
	</div>
	<div id="notification-menu" class="app-popup border-top-arrow right-arrow text-list">
		<ul>
			<li ng-if="!notificationsOverflow"><h5>{{ notifications.length }} Notification{{ notifications.length | pluralise }}</h5></li>
			<li ng-if="notificationsOverflow"><h5 ng-if="notificationsOverflow">Last {{ notifications.length }} notifications</h5></li>
			<li class="seperator"></li>
		</ul>
	</div>
	<div id="user-menu" class="app-popup border-top-arrow right-arrow text-list">
		<ul>
			<li>{{ currentUser.person.personDetails | personfullname }}<!-- <span class="email">stanley.kubrick@gmail.com</span> --></li>
			<li class="seperator"></li>
			<li>Account settings</li>
			<li class="seperator"></li>
			<li>Sign out</li>
		</ul>
	</div>
</div>
