<div ng-controller="ctrlLabourCost">
	<h2>Labour cost report</h2>
	
	<div class="list-table">
		<div class="header-row multi-line">
      <div ng-repeat="header in columnsHeaders" ng-class="header.cssClass" ng-click="headerClickHandler(header, $index)">
        {{header.label}}<span class="icon" ng-if="header.isSorting">^</span>
      </div>
		</div>

    <provider-row class="sub-table single-line-table" ng-if="showDirectContractorsLine"
                  provider="data.directContractors[0]" sort-field="sortField">
    </provider-row>

    <provider-row ng-repeat="prov in providers" provider="prov" sort-field="sortField">
    </provider-row>

    <provider-row class="sub-table single-line-table"
                  provider="data.total[0]" sort-field="sortField">
    </provider-row>
	</div>
</div>
