<div ng-controller="ctrlLabourCost">
	<h2>Labour cost report</h2>
	
	<div class="list-table">
		<div class="header-row multi-line">
      <div ng-repeat="header in columnsHeaders" ng-class="header.cssClass" ng-click="headerClickHandler(header)">
        {{header.label}}
      </div>
		</div>

    <div provider-row="data.directContractors[0]" class="sub-table single-line-table"
         ng-if="showDirectContractorsLine">
    </div>

    <div ng-repeat="provider in providers" provider-row="provider">
    </div>
	</div>
</div>
