/******************************************************************************************

Basic styles

******************************************************************************************/

html, body {
	.default-font-styles();

	color: @dark-deep-grey-color;
	background-color: @pale-grey-color;
}

body {
	padding: 0 0 40px 0;
	position: relative;

	&.busy {
		cursor: progress;

		& a, input, button, label, .clickable, input, textarea {
			cursor: progress;
		}
	}
}

::-webkit-scrollbar {
	display: none;
}

h1 {
	font-size: @default-font-size + 6px;
	font-weight: @weight-medium;
	color: @dark-deep-grey-color;

	margin-bottom: 20px;
}

h2 {
	font-size: @default-font-size + 18px;
	font-weight: @weight-book;
	color: @dark-deep-grey-color;

	//margin-top: 37px;
	margin-bottom: 20px;

	@media (max-width: @max-mobile-width) {
		font-size: ceil((@default-font-size + 18px) / 1.3);
	}

	.sub-heading {
		display: block;

		font-size: @default-font-size;
		color: @mid-grey-color;

		&.right {
			float: right;
			padding-top: 10px;
			margin-bottom: 10px;
		}

		&.large {
			font-size: @default-font-size + 6px;
		}

		&.theme {
			color: @main-theme-color;
		}

	}

	&.nudged {
		display: inline-block;
	}

	&.no-margin {
		margin: 0;
	}

	&.small-margin {
		margin: 0 0 8px;
	}

	&.task-heading {
		.completed {
			color: @light-grey-color;
		}

		.critical {
			color: @dark-red-color;
		}
	}

	&.info-area {
		margin-bottom: 40px;
	}

	&.no-margin-mobile {
		@media (max-width: @mobile-table-width) {
			margin: 0;
		}
	}
}

h3 {
	font-size: @default-font-size + 8px;
	font-weight: @weight-book;
	color: @dark-deep-grey-color;
	clear: both;

	margin-bottom: 20px;

	&.floated {
		float: left;

		@media (max-width: @tablet-screen-width) {
			float: none;
		}
	}

	&.top-margin {
		padding-top: 20px;

		&.large {
			padding-top: 50px;
		}
	}

	&.checked {
		color: @main-theme-color;
	}

	&.thirdstate {
		color: @light-pale-grey-color;
	}

	&.small-bottom-margin {
		margin-bottom: 5px;
	}
}

h4 {
	font-size: @default-font-size + 4px;
	font-weight: @weight-book;
	color: @dark-deep-grey-color;

	margin: 0 0 8px;

	&.no-margin {
		margin: 0;
	}

	&.top-margin {
		margin-top: 20px;
	}

	&.bottom-margin {
		margin-bottom: 20px;
	}
}

h5 {
	font-size: @default-font-size + 2px;
	font-weight: @weight-book;
	color: @dark-deep-grey-color;

	margin: 0 0 20px;
	overflow: auto;

	&.no-margin {
		margin: 0;
	}

	&.small-margin {
		margin: 0 0 8px;
	}

	&.top-margin {
		margin-top: 20px;
	}

	&.bottom-margin {
		margin-bottom: 20px;
	}
}

p {
	margin-bottom: 15px;
}

b, strong {
	font-weight: @weight-heavy;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: @dark-deep-grey-color;

	&.highlight {
		color: @main-theme-color;
	}
}

hr {
	border: none;
	margin: 30px 25px 30px;
	border-bottom: 1px solid #dde2e5;
}

label {
	margin-right: 4px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button, input, textarea {
	.default-font-styles();
	color: @dark-deep-grey-color;
}

input, textarea {
	outline: none;
	resize: none;
	border: none;
	border-radius: 0;

	&:invalid {
		box-shadow: none;
	}

	&:-moz-submit-invalid {
		box-shadow: none;
	}

	&:-moz-ui-invalid {
		box-shadow:none;
	}

	&:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px white inset;
	}

	&:disabled {
		background-color: transparent;
		color: @light-grey-color;
		-webkit-text-fill-color: @light-grey-color;
	}
}

input[type="file"] {
	cursor: pointer;
}

::-webkit-input-placeholder {
	color: @light-grey-color;
}
::-moz-placeholder {
	color: @light-grey-color;
	opacity: 1;
}
:-ms-input-placeholder {
	color: @light-grey-color;
}

.capitalise {
	text-transform: capitalize;
}

.invisible {
	visibility: hidden;
}

.no-wrap {
	white-space: nowrap;
}

.ellipsis-no-wrap {
	white-space: nowrap !important;
	width: auto !important;
	max-width: none !important;
}

.alert {
	color: @dark-red-color;
}
